/* Logo cropping styles */
.logo-cropped {
  background-image: url('./company-logo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 20px;
}